*{margin: 0px; padding: 0px;}
ul{
	width: 800px;
	height: 70px;
	background: #272882;
	list-style-type: none;
	position: fixed;
	top: 0px;
}
li{
	float: left;
	line-height: 70px;
	margin-left: 20px;
}
a{
	color: white;
	text-decoration: none;
	font-family: helvetica;
}
a:hover{
	color: red;
	text-decoration: underline;
}
li:hover{
	background: yellow;
}